<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://code.alibabatech.com/schema/dubbo 
         http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
    <!-- 使用Spring自带的占位符替换功能 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <!-- 指定properties配置所在位置 -->
         <property name="location" value="classpath:/config/properties/dubbo.properties"/>
	</bean>
	
    <!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
	<dubbo:application name="${dubbo.service.name}"></dubbo:application>
	<!-- 使用zookeeper注册中心暴露服务地址 -->  
	<dubbo:registry address="${dubbo.zookeeper.address}" check="false" protocol="zookeeper"></dubbo:registry>

    <dubbo:reference interface="com.marker.dubbo.IService" id="myService" check="true" timeout="${dubbo.timeout}" group="${product.dubbo.group}" version="${product.dubbo.version}"></dubbo:reference>


</beans>