<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://code.alibabatech.com/schema/dubbo 
         http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
    <!-- 使用Spring自带的占位符替换功能 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <!-- 指定properties配置所在位置 -->
         <property name="location" value="classpath:/config/properties/dubbo.properties"/>
	</bean>
	
    <!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
	<dubbo:application name="${dubbo.service.name}"></dubbo:application>
	<!-- 使用zookeeper注册中心暴露服务地址 -->  
	<dubbo:registry address="${dubbo.zookeeper.address}" check="true" protocol="zookeeper"></dubbo:registry>


	<dubbo:service interface="com.marker.dubbo.IService" ref="productQueryRpcImpl" group="${product.dubbo.group}" version="${product.dubbo.version}"/>


	<bean id="productQueryRpcImpl" class="com.marker.dubbo.MyService"></bean>


	<!-- 使用${}引用配置项 -->
	<!--<dubbo:provider port="${dubbo.service.server.port}" filter="dubboServerExt" />-->
	<!-- 数据包传输大小配置，改成16M   用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol payload="33554432" name="dubbo" port="20880"/>
</beans>